.landingContent{
    @extend .content;
    background-image: url('/images/landing_bg.jpg');
    background-size: cover;
    display: flex;
}

.landingWelcome{
    width: 100%;
    animation: fadein 2s ease-in;
    text-align: center;
    align-self: center;
    color: $text-on-primary;
}

.landingButtonContainer{    
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin: auto;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 100;}
}

.clouds{
	width:10000px;
	height: 50%;
    background: transparent url("/images/cloud.png");
    background-repeat: repeat-x;
	background-size: 800px 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    animation:move-background 150s linear infinite reverse;
}


@keyframes move-background {
    0%{ 
        background-size: 600px 25%;
        transform: translate3d(2500px, 0px, 0px);}
    98%{ 
	    background-size: 800px 100%;
        transform: translate3d(25px, 10%, 0px);}
    100% {
	    background-size: 800px 100%;
        transform: translate3d(0px, 15%, 0px);}   
}