.landingContent{
    @extend .content;
    background-image: url('/images/landing_bg.jpg');
    background-size: cover;
    display: flex;
}

.landingWelcome{
    width: 100%;
    animation: fadein 2s ease-in;
    text-align: center;
    align-self: center;
    color: $text-on-primary;
}

.landingButtonContainer{    
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin: auto;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 100;}
}