$primary: #ffcb05;
$accent: #00b5cc;
$background: #eee;
$text-on-primary: white;

$padding-b: 24px;
$padding-m: 16px;
$padding-s: 8px;

$margin-b: 24px;
$margin-m: 16px;
$margin-s: 8px;

$app-bar-height: 48px;

@import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');
@import 'landing.scss';
@import 'mixins.scss';
@import 'taskCard.scss';
@import 'createTask.scss';
@import 'taskList.scss';


//~~~~~~~~COMPONENTS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

div.appBar{
  height: $app-bar-height;
  min-height: $app-bar-height;
  color: $text-on-primary;
}
.appBarText{
  flex-grow: 1;
}

.content{
  overflow: hidden;
  @include fill-v($app-bar-height);
  @include padding($padding-b);
  position: relative;
  background-color: $background;
  margin-top: $app-bar-height;
}

Button.createFab{
  @include margin($margin-m);
  position: absolute;
  bottom: 0;
  right: 0;
}

html{
  height: 95%;
}

body{
  @include fill();
  font-family: 'Assistant', sans-serif;
  margin: 0;
  padding: 0;
}

#app{
  @include fill();
}