.taskCard{
    @include margin($margin-m);
    // @include padding($padding-m);
    width: 500px;
  }
  
  .taskCardHeader{
    @include none();
    @include accent-bg();
    @include text-on-primary();
    @include padding($padding-s);
    display: flex;
    justify-content: space-between;
  }
  
  .taskCardContent{
    @include padding($padding-s);
    display: grid;
    grid-template-columns: 60% 40%;
    grid-auto-rows: 2;
  }
  
  .dividerRight{
    border-right: $accent 1px solid;
  }
  
  .childTaskContainer{
    // @include padding($padding-s);
    // border: $accent 1px solid;
    grid-column-start: 2;
  }
  
  Button.childTask{
    // @include none();
    @include margin-v($margin-s);
    @include no-decor();
    @include accent-bg();
    @include text-on-primary();
    display: block;
    border-radius: 3px;
  }
  
  .completedCheckbox{
    @include float(right);
  }