div.taskList {
    @include fill-v();
    width: 400px;
    border-radius: 0px;
}

.taskListHeader{
    @include none();
    @include accent-bg();
    @include text-on-primary();
    @include padding($padding-m);
    display: flex;
    justify-content: space-between;
  }
  
.taskListContent{
    // @include padding($padding-m);
    padding: $padding-m 0px $padding-m -$margin-s;
}


div.taskListItem {
    margin-left: $margin-s;
    border-left: 1px $accent solid;
}

button.taskListItemButton{
    text-transform: none;
    @include no-decor();
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    text-align: left;
}